<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gardening"
        tools:targetApi="31">
        <activity
            android:name="com.example.greenthumb.views.home.HomeActivity2"
            android:exported="false"
            android:label="@string/title_activity_home2"
            android:theme="@style/Theme.Gardening" />
        <activity
            android:name="com.example.greenthumb.views.library.PlantLibraryActivity2"
            android:exported="false"
            android:label="@string/title_activity_plant_library2"
            android:theme="@style/Theme.Gardening" />
        <activity
            android:name="com.example.greenthumb.views.tracker.PlantTracker2"
            android:exported="false" />
        <activity
            android:name="com.example.greenthumb.views.setting.SettingActivity2"
            android:exported="false"
            android:label="@string/title_activity_setting2"
            android:theme="@style/Theme.Gardening" />
        <activity
            android:name="com.example.greenthumb.views.register.RegisterActivity2"
            android:exported="false"
            android:label="@string/title_activity_register2"
            android:theme="@style/Theme.Gardening" />
        <activity
            android:name="com.example.greenthumb.views.login.LoginActivity2"
            android:exported="false"
            android:label="@string/title_activity_login2"
            android:theme="@style/Theme.Gardening" />
        <activity
            android:name="com.example.greenthumb.views.shake.ShakeActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.greenthumb.views.tracker.UploadPlantActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.greenthumb.views.tips.TipsArticleActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="com.example.greenthumb.views.tracker.PlantTrackerActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.greenthumb.views.library.PlantsLibraryActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="com.example.greenthumb.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.greenthumb.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name="com.example.greenthumb.workmanager.CustomBroadcast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>